$primary-color: #209956;
$secondary-color: #874D7F;
$info-color: #FFFFFF;
$intro-color: #060728;
$dark-color: #000000;
$grey-color: #f2f4f8;
$line-color: #C4C4C4;
$gold-color: #EDA63C;
$bg-card-color: #f2f4f8;
$text-color: #f2f4f8;
$text-color-1: #060728;
$text-color-2: #75818f;
$text-color-3: #874D7F;
$font-normal: 400;
$font-medium: 700;
$font-size-heading-1: 40px;
$font-size-heading-2: 32px;
$font-size-heading-3: 24px;
$font-size-heading-4: 18px;
$font-size-heading-5: 16px;
$font-size-heading-28: 28px;

$font-size-heading-1-md: 38px;
$font-size-heading-2-md: 30px;
$font-size-heading-3-md: 22px;
$font-size-heading-4-md: 16px;
$font-size-heading-5-md: 14px;
$font-size-heading-28-md: 26px;

$font-size-heading-1-sm: 32px;
$font-size-heading-2-sm: 28px;
$font-size-heading-3-sm: 21px;
$font-size-heading-4-sm: 15px;
$font-size-heading-5-sm: 13px;
$font-size-heading-28-sm: 25px;




