@import "variables";
@import "common";
@import "header";
@import "banner";
@import "footer";
@import "popupSignin";
@import "popupOTP";
.wrapper {
	.main {
		max-width: 100%;
		padding: 64px 0 30px;
		.title {
			text-align: center;
			font-size: 24px;
			font-weight: bold;
		}
		.menu-select {
			margin: 0 auto;
			margin-top: 37px;
			justify-content: center;
			.menu-item {
				max-width: 380px;
				flex-basis: 0;
				flex-grow: 1;
				&:not(:last-child) {
					margin-right: 20px;
				}
				&:hover {
					opacity: 0.6;
				}
				&.active {
					a {
						background: $primary-color;
						color: #fff;
					}
				}
				a {
					display: block;
					padding: 11px 0;
					font-size: 18px;
					text-align: center;
					background: #fff;
					color: $primary-color;
					border: 1px solid $primary-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		.info {
			margin-top: 55px;
			padding: 43px 0 62px;
			background: $bg-card-color;
			.row-info {
				width: 640px;
				margin: 0 auto;
				display: flex;
				align-items: center;
				&:not(:last-child) {
					margin-bottom: 88px;
					.timeline-icon {
						position: relative;
						&:after {
							content: "";
							display: block;
							height: 88px;
							position: absolute;
							top: 100%;
							left: 50%;
							transform: translateX(-50%);
							border-right: 1px dashed $secondary-color;
						}
					}
				}
				.timeline-icon {
					margin-right: 20px;
					.cnt-1 {
						display: inline-block;
						width: 56px;
						height: 56px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50%;
						background: rgba($color: $secondary-color, $alpha: 0.5);
						.cnt-2 {
							display: inline-block;
							width: 42px;
							height: 42px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50%;
							background: rgba(135, 77, 127, 0.5);
							.cnt-3 {
								display: inline-block;
								width: 30px;
								height: 30px;
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 50%;
								background: $secondary-color;
							}
						}
					}
					.icon-cnt-processed {
						width: 57px;
						height: 60px;
						display: flex;
						justify-content: center;
						align-items: center;
						background: $secondary-color;
						border-radius: 14px 0;
					}
				}
				&.processing {
					.description {
						color: $secondary-color;
						.status {
							font-size: 14px;
						}
						.status-detail {
							font-size: 18px;
							font-weight: 700;
							line-height: 22px;
						}
					}
				}
				&.processed {
					.description {
						p {
							font-size: 18px;
							line-height: 22px;
						}
						.date-time {
							font-weight: bold;
						}
						.detail {
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 1024px) {
	.wrapper {
		.main {
			max-width: 100%;
			padding: 44px 0 30px;
			.title {
				text-align: center;
				font-size: 22px;
			}
			.menu-select {
				width: 100%;
				margin: 0 auto;
				margin-top: 37px;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				.menu-item {
					width: 80%;
					max-width: 80%;
					flex-basis: 0;
					flex-grow: 1;
					&:not(:last-child) {
						margin-right: unset;
					}
					&:not(:first-child) {
						margin-top: 20px;
					}
					&:hover {
						opacity: 1;
					}
					&.active {
					}
					a {
						display: block;
						padding: 11px 0;
						font-size: 16px;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
	
			.info {
				margin-top: 55px;
				padding: 50px 0 70px;
				.row-info {
					width: 96%;
					max-width: 640px;
					margin: 0 auto;
					display: flex;
					align-items: center;
					&:not(:last-child) {
						margin-bottom: 66px;
						.timeline-icon {
							position: relative;
							&:after {
								content: "";
								display: block;
								height: 66px;
								position: absolute;
								top: 100%;
								left: 50%;
								transform: translateX(-50%);
								border-right: 1px dashed $secondary-color;
							}
						}
					}
					.timeline-icon {
						margin-right: 20px;
						.cnt-1 {
							display: inline-block;
							width: 52px;
							height: 52px;
							display: flex;
							justify-content: center;
							align-items: center;
							.cnt-2 {
								display: inline-block;
								width: 38px;
								height: 38px;
								display: flex;
								justify-content: center;
								align-items: center;
								.cnt-3 {
									display: inline-block;
									width: 26px;
									height: 26px;
									display: flex;
									justify-content: center;
									align-items: center;
								}
							}
						}
						.icon-cnt-processed {
							width: 53px;
							height: 56px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 14px 0;
						}
					}
					&.processing {
						.description {
							.status {
								font-size: 14px;
							}
							.status-detail {
								font-size: 16px;
							}
						}
					}
					&.processed {
						.description {
							p {
								font-size: 16px;
								line-height: 22px;
							}
							.date-time {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
} 