.popup1 {
    &-dialog {
        margin-top: 201px;
        margin-left: auto;
        &-content {
            width: 570px;
            height: 498px;
            border: none;
            border-radius: 10px;

            .modal-header {
                border-bottom: none;
            }

            .modal-body {
                text-align: center;
                justify-content: center;
                padding: 11px 100px 70px 100px !important;

                input[type=text] {
                    width: 370px;
                    height: 60px;
                    margin-top: 56px;
                    border: 2px solid #EBEAED;
                    color: $text-color-3;
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding-left: 24px;
                }

                input[type=text]:hover,
                input[type=text]:focus {
                    border: 2px solid $secondary-color;
                }

                button {
                    margin-top: 56px;
                    margin-bottom: 25px;
                }
            }

            &-signup {
                margin-top: 21px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .popup1 {
        &-dialog {
            margin: 180px 5px;
            &-content {
                width: 100%;
                .modal-body {  
                    padding: 11px 10px !important;
                    input[type=text] {
                        width: 100%;
                    }
                }
            }
        }
    }
}