@import "variables";

.fixed-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 5.5s ease;

    img.logo {
        height: 60px;
        width: 60px;
    }
}

.header {
    background-color: $info-color;
    &__content {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__contact {
            display: flex;
            gap: 0 44px;
            font-size: 14px;
            color: $text-color-1;

            &--item {
                gap: 0 9px;
                display: flex;
                justify-content: space-around;
                line-height: 17px;
            }
        }

        &__action {
            display: flex;
            gap: 0 18px;
        }

        &__user {
            display: flex;
            justify-content: right;
            gap: 0 10px;

            &-page {
                margin-top: 5px;
                .dropdown-menu {
                    padding: 0;
                    border: none;
                    border-radius: 5px;
                    transform: translate3d(-200px, 35px, 0px) !important;
                    width: 216px;
                }

                .dropdown-item {
                    padding: 20px 31px !important;
                }
            }

            &-name {
                display: flex;
                justify-content: center;
                gap: 0 12px;

                .avatar {
                    height: 34px;
                    width: 34px;
                    background-color: $secondary-color;
                    border-radius: 50%;
                    color: $text-color;
                    
                    p {
                        line-height: 32px;
                    }
                }

                .money {
                    margin-top: 5px;
                    &-cash {
                        display: flex;
                        justify-content: right;
                        gap: 0 6px
                    }
                }
            }

            &-notification {
                margin-right: 70px;
                margin-top: 5px;
                .dropdown-menu {
                    padding: 0;
                    border: 1px solid #c4c4c4;
                    border-radius: 5px;
                    transform: translate3d(-330px, 35px, 0px) !important;
                    width: 445px;
                }

                .dropdown-item {
                    padding: 11px 24px 11px 25px !important;
                    white-space: inherit;
                    p.text-notify {
                        width: 379px;
                        border-bottom: 1px solid #c4c4c4;
                        padding-bottom: 11px;
                    }
                }
            }
        }
    }
}

.navigation {
    background-color: $primary-color;
    &__content {
        height: 60px;
        display: flex;
        justify-content: space-between;
        &__logo {
            position: relative;
            &__item {
                img {
                    position: absolute;
                    z-index: 99;
                    top: -30px;
                };
            }
        }
        &__menu {
            margin-right: 125px;
            &__list {
                display: flex;
                gap: 0 44px;

                &__item {
                    &__link {
                        font-weight: $font-normal;
                        font-size: 16px;
                        color: $text-color;
                    }

                    a:hover {
                        color: $text-color;
                    }

                    .active {
                        font-weight: $font-medium;
                        color: $text-color;
                    }
                }
            }
        }
    }
}