$primary-color: #209956;
$secondary-color: #874D7F;
$info-color: #FFFFFF;
$text-color: #f2f4f8;
$text-color-1: #060728;
$text-color-2: #75818f;
$font-normal: 400;
$font-medium: 700;
$font-size-heading-1: 40px;


