$green-color: #209956;
$purple-color: #874d7f;
$white-color: #f2f4f8;
$text-color-1: #060728;
$text-color-2: #75818f;
* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

.wrapper {
	.header {
	}
	.main {
		max-width: 1180px;
		margin: 0 auto;
	}
	.footer {
	}
}
