@import "variables";
@import "common";
@import "header";
@import "banner";
@import "footer";
@import "popupSignin";
@import "popupOTP";

.wrapper {
	.main {
		max-width: 100%;
		.menu-select {
			width: 780px;
			margin: 0 auto;
			justify-content: space-around;
			padding: 60px 0;
			.menu-item {
				&.active {
					a {
						background: $primary-color;
						color: #fff;
					}
				}
				a {
					display: block;
					width: 380px;
					padding: 14px 0;
					font-size: 18px;
					text-align: center;
					background: #fff;
					color: $primary-color;
					border: 1px solid $primary-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.money-change {
			height: 291px;
			background: url("./../images/money-change.png") no-repeat;
			background-size: 100% 291px;
			.title {
				padding-top: 36px;
				text-align: center;
				font-weight: bold;
				font-size: 28px;
				color: #fff;
			}
			.money-input-container {
				width: 742px;
				margin: 0 auto;
				margin-top: 30px;
				display: flex;
				justify-content: space-between;
				.input-item {
					width: 320px;
					.label {
						margin-bottom: 16px;
						font-weight: bold;
						font-size: 16px;
						color: #fff;
					}
					input {
						width: 100%;
						padding: 9px 20px;
						font-size: 28px;
						color: $secondary-color;
						font-weight: bold;
						background: #ffffff;
						outline: none;
						border: 1px solid rgba(117, 129, 143, 0.5);
						border-radius: 5px;
					}
					.note {
						font-size: 16px;
						margin-top: 8px;
						color: #fff;
					}
				}
				.icon-change {
					width: 102px;
					.label {
						color: transparent;
					}
					.img-cnt {
						height: 54px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
		.bank-account-cnt {
			width: 800px;
			margin: 0 auto;
			.charge-info {
				padding: 39px 0 65px 0;
				margin-top: 30px;
				background: #f2f4f8;
				border-radius: 5px;
				.title {
					text-align: center;
					font-weight: bold;
					font-size: 16px;
					color: #000;
				}
				.info-section {
					margin-top: 30px;
					p {
						width: 600px;
						margin: 0 auto;
					}
					.label {
					}
					.content {
						padding: 18px;
						margin-top: 10px;
						position: relative;
						font-weight: bold;
						font-size: 16px;
						color: #000;
						background: #ffffff;
						border: 1px solid rgba(117, 129, 143, 0.5);
						border-radius: 5px;
						.copy-ctn {
							position: absolute;
							font-weight: normal;
							cursor: pointer;
							right: 18px;
							color: $secondary-color;
						}
					}
				}
			}
			.account-charge {
				.title {
					font-weight: bold;
					font-size: 16px;
					margin: 37px 0 32px 0;
					text-align: center;
				}
				.account-charge-form {
					padding: 49px 0 39px 0;
					background: #f2f4f8;
					border-radius: 5px;
					.form-section {
						width: 600px;
						margin: 0 auto;
						margin-top: 30px;
						.label {
							margin-bottom: 10px;
							label {
								font-weight: 500;
								font-size: 16px;
								color: #000;
								a.detail {
									font-size: 16px;
									color: $secondary-color;
									&:hover {
										text-decoration: none;
									}
								}
							}
						}
						select,
						input {
							width: 100%;
							font-size: 16px;
							padding: 16px;
							border: 1px solid rgba(117, 129, 143, 0.5);
							box-sizing: border-box;
							border-radius: 5px;
							outline: none;
						}
						.mount {
							position: relative;
							.unit {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								right: 16px;
								font-weight: bold;
								font-size: 16px;
								color: rgba(0, 0, 0, 0.5);
							}
						}
					}
					.btn-contain {
						margin-top: 16px;
						text-align: center;
						button {
							width: 221px;
							height: 50px;
							background: $secondary-color;
							border-radius: 5px;
							text-align: center;
							color: #fff;
							outline: none;
							border-width: 0;
							cursor: pointer;
							&:hover {
								opacity: 0.6;
							}
						}
					}
				}
			}
			.history-trade {
				margin-top: 39px;
				padding-bottom: 138px;
				.title {
					padding: 22px 0;
					text-align: center;
					font-weight: bold;
					font-size: 16px;
					color: #000;
					background: #f2f4f8;
					border-radius: 5px;
				}
				.trade-list {
					.trade-item {
						padding: 30px 0 14px;
						border-bottom: 1px solid #C4C4C4;
						p {
							margin-bottom: 10px;
						}
						.code {
							font-size: 18px;
						}
						.date-time {
							font-size: 16px;
							color: $text-color-2;
						}
						.mount {
							font-weight: bold;
							font-size: 18px;
							color: $primary-color;
						}
						.status {
							span {
								display: inline-block;
								width: 143px;
								padding: 7px 0;
								font-size: 16px;
								text-align: center;
								border-radius: 5px;
								&.processing {
									background: rgba($color: $secondary-color, $alpha: 0.1);
									color: $secondary-color;
								}
								&.canceled {
									background: rgba($color: #AF3914, $alpha: 0.1);
									color: #AF3914;
								}
								&.successed {
									background: rgba($color: $primary-color, $alpha: 0.1);
									color: $primary-color;
								}
							}
						}
					}
				}
			}
		}
	}
}
