
@import "variables";
@import "common";
@import "header";
@import "navigation";
@import "banner";
@import "footer";


.wrapper {
	.main {
		padding-bottom: 70px;
		.register-ctn {
			h2.title {
				margin-top: 90px;
				font-size: 32px;
				text-align: center;
				font-weight: 700;
			}
			.timeline {
				margin-top: 36px;
				ul {
					display: flex;
					margin: 0 auto;
					justify-content: space-between;
					width: 815px;
					li {
						border-radius: 50%;
						border: 2px solid $text-color-2;
						padding: 5px;
						position: relative;
						.point {
							display: block;
							width: 24px;
							height: 24px;
							border-radius: 50%;
						}
						.text {
							position: absolute;
							font-size: 18px;
							width: 160px;
							top: calc(100% + 22px);
							left: 50%;
							transform: translateX(-50%);
						}
						&.active {
							border: 2px solid $secondary-color;
							.point {
								background: $secondary-color;
							}
							
						}
						&.complete {
							border: 2px solid $secondary-color;
							.point {
								background: $secondary-color;
							}
							&:after {
								background: $secondary-color!important;
							}
						}
						&.coming {
							border: 2px solid $secondary-color;
						}
						&:not(:last-child) {
							&:after {
								content: "";
								display: block;
								position: absolute;
								width: calc((815px - 38px * 3) / 2);
								height: 9px;
								background: $text-color;
								left: calc(100% + 2px);
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}
			}
			.form-register {
				margin-top: 125px;
				form {
					.form-wrap {
						width: 980px;
						margin: 0 auto;
						padding: 42px 100px 38px 100px;
						background: $text-color;
						.form-group {
							margin-bottom: 20px;
							input {
								font-size: 16px;
								color:rgba(0, 0, 0, 0.5);
								&::placeholder {
									font-size: 16px;
									color:rgba(0, 0, 0, 0.5);
								}
							}
							select {
								font-size: 16px;
								color:rgba(0, 0, 0, 0.5);
							}
							label {
								font-size: 16px;
								color: $text-color-1;
								a {
									color: $primary-color;
								}
								&[for="file"] {
									width: 300px;
									margin: 0 auto;
									color: #fff;
									padding: 10px;
									border-radius: 3px;
									margin-top: 30px;
									background: $primary-color;
									cursor: pointer;
									&:hover {
										opacity: 0.6;
									}
								}
							}
						}
					}
					.btn-continue {
						margin-top: 70px;
						text-align: center;
						.btn-step-1 {
							width: 220px;
							height: 50px;
							font-size: 16px;
							color: #fff;
							background: $secondary-color;
							border: none;
							border-radius: 5px;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}
