@import "variables";
@import "common";
@import "header";
@import "banner";
@import "footer";
@import "popupSignin";
@import "popupOTP";
.wrapper {
	.main {
        max-width: 100%;
		padding-top: 62px;
		.search-form-cnt {
			max-width: 1180px;
			margin: 0 auto;
			.search-form {
				display: flex;
				justify-content: space-between;
				.search-select {
					max-width: 1000px;
					width: 1000px;
					padding: 15px 0;
					border: 1px solid rgba(117, 129, 143, 0.5);
					border-radius: 5px;
					display: flex;
					justify-content: space-between;
					.search-item {
						padding-left: 20px;
						flex-grow: 1;
						flex-basis: 0;
						label {
							display: block;
							padding-left: 5px;
							margin-bottom: 10px;
							font-size: 14px;
							color: $text-color-2;
						}
						select {
							min-width: 280px;
							outline: none;
							border: none;
							font-weight: bold;
							font-size: 16px;
						}
						&:not(:last-child) {
							// border: 1px solid #000;
							position: relative;
							&:after {
								content: "";
								display: block;
								width: 1px;
								height: 27px;
								position: absolute;
								top: 50%;
								left: 100%;
								transform: translateY(-50%);
								background: #c4c4c4;
							}
						}
					}
				}
				.search-btn {
					width: 175px;
					button {
						outline: none;
						border: none;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 100%;
						border-radius: 5px;
						background: $secondary-color;
						color: #fff;
						font-size: 16px;
						cursor: pointer;
						&:hover {
							opacity: 0.6;
						}
						img {
							width: 18px;
							margin-right: 8px;
						}
					}
				}
			}
			.search-result {
				margin-top: 50px;
				.result-list {
					display: grid;
					grid-template-columns: repeat(4, minmax(0, 1fr));
					grid-gap: 24px;
					li {
						// border: 1px solid #000;
						&.active {
							a {
								color: $primary-color;
							}
						}
						a {
							font-weight: bold;
							font-size: 16px;
							color: #000;
							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
			.search-info {
				display: flex;
				padding: 43px 35px;
                margin-top: 80px;
				background: $bg-card-color;
				.avatar {
					width: 300px;
					margin-right: 60px;
					img {
						width: 100%;
					}
				}
				.info {
					width: calc(100% - 300px - 70px);
					.name {
						width: 280px;
						padding-bottom: 8px;
						color: $primary-color;
						font-size: 28px;
						font-weight: bold;
						border-bottom: 1px solid #c4c4c4;
					}
					.ctn-info {
						display: grid;
						grid-template-columns: repeat(2, minmax(0, 1fr));
						grid-gap: 24px 10px;
						margin-top: 21px;
						.item-info {
							font-size: 16px;
							.title {
								font-weight: bold;
							}
							.detail {
                                margin-top: 7px;
                                a {
                                    font-size: 14px;
                                    color: $secondary-color;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
							}
						}
					}
				}
			}
		}
        .map {
            padding: 46px 0;
            img {
                width: 100%;
            }
        }
	}
}
