# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Freelance Project\web_tuong_ho\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
